COGNITO_CLIENT_SECRET=<PUT-CLIENT-SECRET-HERE>
COGNITO_CLIENT_ID=<PUT-CLIENT-ID-HERE>
COGNITO_URL=<PUT-COGNITO-URL-HERE>
COGNITO_REDIRECT_URL=https://www.getpostman.com/oauth2/callback/
URL=http://localhost:8080
ACTIVE_TENANT_ID=<PUT-ACTIVE-TENANT-ID-HERE>
TENANT_ID=<PUT-TENANT-ID-HERE>
